/*
Theme Name: prower V3
Theme URI: http://www.prower.cn/
Version: 3.0
Author: prower
Author URI: http://www.prower.cn
Description: A simple wordpress theme
Tags: white,two-columns,custom-header
*/
body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea {margin: 0; padding: 0;}
body {font:13px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
h1,h2 {font-size: 18px;}
h1,h2,#tags {font-family:"微软雅黑";}
h1,#nav li a,,#sidebar h2  {text-shadow:0 1px 0 #fff;}
#sidebar h2,#wp-calendar caption {font-size:14px;}
h3 {font-size:14px; text-align:right;}
a {text-decoration:none; color:#04a;}
a:hover,#top,#footer,#wp-calendar a:hover {background:#303536;}
a:hover,#top,#top a {color:#fff;}
ol,ul {list-style:none;}
p,.reader-publisher-module,.post .content ul,.post .content ol {margin-bottom:15px;}
img {border:none;}
a img:hover {background:none; border:none;}
cite {font-style:normal;}
textarea {padding:3px; width:95%;}
.w970 {width:970px; margin-left:auto; margin-right:auto;}
#page_content {width:880px;}
#main {width:692px;}
.content {width:602px;}
#sidebar {width:252px; background:#fafafa;}
blockquote {border:1px dashed #e6e6e6; background:#fafafa; padding:10px 10px 0; margin:10px;}
p,textarea,.meta a,.time,.content li,#sidebar a,.fn,#page_content,#post_metadata,#cancel_comment_reply,#footer  {line-height:20px;}
.meta a,.time,.fn,#top li a,#nav li a,#rss_icon {display:block;}
#commentform,.comment-body p,.reply,#cancel_comment_reply,.children {margin-left:90px;}
.meta,.comment-author,#respond h3,#post_metadata h3,#comments h3 {width:75px; text-align:right; padding-right:10px;}
h2,.comment-body,#sidebar li,#page_content dl,#page_content dt,.post_nav,#comments,.navigation,.comment_list {margin-bottom:10px;}
#nav,.post,.page,#post_metadata {margin-bottom:20px;}
.comment_list li li,#respond,#footer {margin-top:10px;}
h1 a,#nav a,#post_metadata .content,#go_top a,#wp-calendar td {color:#666;}
h1 a:hover,#nav li a:hover {color:#000; text-decoration:none; background:none;}
#footer,#footer a {color:#ddd;}
h1,#respond h3,#post_metadata h3,#top li,#main,#nav ul,#nav li,#rss_icon,.alignleft,.blogroll li,.meta,.comment-author,.widget_archive li {float:left;}
#search,.content,#page_content,#top ul,#sidebar,#rss,.alignright {float:right;}
.w970,#header,.post,.page,.navigation,.post_nav,.linkcat,#post_metadata,.comment_list li,#respond,.widget  {overflow:auto; zoom:1;}
#header,#nav,#sidebar h2,#wp-calendar caption {background:#f6f6f6;}
#top {height:28px; line-height:28px;}
#top ul {margin-right:1px;}
#top li a,#nav li a {padding-left:10px; padding-right:10px;}
#top li a:hover {text-decoration:none; background:#000;}
.current_page_item,#top li.current_page_item a:hover {background:#6C7676;}
#header,#nav,#sidebar h2,#wp-calendar caption {border-bottom:1px solid #e6e6e6; border-top:1px solid #fff;}
h1 {height:48px; line-height:48px;}
#search {margin-top:12px;}
#nav {height:34px; line-height:34px;}
#nav li {margin-right:5px; padding-bottom:1px;}
#nav li ul,.says {display:none;}
.current-cat,#nav  li a:hover {background:#e6e6e6;}
#nav li .current-cat a,#nav li a:hover {color:#000;}
#rss {margin-right:1px;}
#rss_icon {width:24px; height:24px; background:url(rss_icon.jpg) no-repeat; margin-top:5px;}
.post,.page,#post_metadata  {padding-bottom:10px; border-bottom:1px dashed #ccc;}
.post img {max-width:600px;}
.meta  {font-size:12px;}
.time {font-family:Georgia; margin-bottom:5px;}
#post_metadata {padding-bottom:20px;}
.post .content ul,.post .content ol {list-style-position:inside; margin-left:20px;}
.post .content ul {list-style-type:disc;}
.post .content ol {list-style-type:decimal ;}
.navigation,.post_nav {padding-left:100px; padding-right:1px;}
.post_nav {padding-bottom:10px; border-bottom:1px dashed #ccc;}
.comment_list li {border-bottom:1px solid #ccc; padding-top:10px;}
.comment_list li li {border-bottom:none; border-top:1px dashed #ccc; padding-top:10px;}
.comment_list li li img {width:32px; height:32px;}
.comment_list li p,.comment-meta {margin-bottom:5px;}
.children .children,.children .reply,.children p {margin-left:50px;}
.children #commentform p {margin-left:0;}
.children .comment-author {width:40px; padding-right:10px;}
.thread-odd {background:#f6f6f6;}
#sidebar li li {margin-bottom:2px; padding-bottom:2px; border-bottom:1px dashed #ddd;}
#sidebar ol li {list-style:decimal inside;}
#sidebar h2,#wp-calendar caption {height:26px; line-height:26px; margin-bottom:5px;}
.blogroll li,.widget_archive li {width:125px;}
#page_content dd {padding-left:20px;}
#footer {text-align:right; border-top:1px solid #0C0E0E; padding-top:8px; padding-bottom:8px;}
#tags a {padding-left:2px; padding-right:2px;}
#go_top {position:fixed; bottom:5px; left:50%; margin-left:488px;}
#go_top a {width:12px; display:block; padding-top:2px;}
#go_top a:hover {background:#999; color:#fff;}
#go_top em {height:0; width:0; border-width:0 6px 6px; border-style:solid; border-color: #999 #fff; display:block; overflow:hidden;}
*html #go_top {display:none;}
#wp-calendar {width:100%;}
#wp-calendar #next a {padding-right:10px; text-align:right;}
#wp-calendar #prev a {padding-left:10px; text-align:left;}
#wp-calendar a {display:block; font-weight:bold;}
#wp-calendar td {text-align:center; line-height:20px;}
#wp-calendar td:hover, #wp-calendar #today {background:#ddd;}
.aligncenter {display: block;	margin-left: auto; margin-right: auto;}
.alignleft {float: left;}
.alignright {float: right;}
